.banner {
    margin-bottom: 100px;
}
.banner__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}
.banner__content {
    max-width: 540px;
    animation: bannerContent 1s;
}
.banner__image {
    animation: bannerImage 1s;
}
.banner__title {
    font-weight: 600;
    background: linear-gradient(106.52deg, #c213ea 0%, #4dddce 93.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 64px;
    line-height: 80px;
    margin-bottom: 40px;
    position: relative;
    text-align: left;
}
.banner__title::after {
    content: url(../../../../assets/images/banner/banner-item-dark.png);
    position: absolute;
    top: 95px;
    right: 0;
}
.banner__text {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 60px;
}
.banner__button {
    font-size: 36px;
    padding: 30px 100px;
    border-radius: 15px;
    color: white;
    transition: all 0.3s;
}

@keyframes bannerContent {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes bannerImage {
    0% {
        transform: translateX(200%);
    }
    100% {
        transform: translateX(0);
    }
}

@media (max-width: 1024px) {
    .banner__inner {
        flex-direction: column-reverse;
    }
    .banner__title::after {
        content: "";
    }
}

@media (min-width: 769px) {
    .banner__button:hover {
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.555);
    }
}

@media (max-width: 425px) {
    .banner {
        margin-bottom: 50px;
    }
    .title {
        font-size: 45px;
        line-height: 55px;
    }
    .banner__button {
        padding: 14px;
        width: 100%;
        font-size: 25px;
    }
    .banner__text {
        margin-bottom: 30px;
    }
}
