.reading__task-text button {
    display: inline-block;
    color: white;
}

.reading__task-title {
    margin-bottom: 15px;
    cursor: pointer;
}

.reading__task-text {
    display: flex;
    gap: 2px 5px;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto 195px;
    font-size: 25px;
}
.reading__task-word {
    display: inline-block;
    text-transform: uppercase;
    font-size: 25px;
    padding-left: 360px;
}
.grammar__button {
    color: white;
}
.reading__tasks-titles {
    display: flex;
    align-items: center;
}
.reading__tasks-title {
    width: 101px;
    height: 589px;
    background: url(../../assets/images/reading/reading-item.svg) no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    font-weight: 600;
    transition: all 0.3s;
    cursor: pointer;
}
.reading__tasks-title:hover {
    transform: translateY(-30px);
}
.reading__tasks-top {
    display: flex;
    justify-content: end;
    border-bottom: 10px solid #cd10f0;
    border-radius: 8px;
    margin-bottom: 80px;
}
.reading__task-image img {
    padding-top: 8px;
}
.reading__task {
    background: url(../../assets/images/reading/reading-text.png) top center
        no-repeat;
    background-size: contain;
    width: 1100px;
    height: 1195px;
}
.reading__task-title {
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
