.skills {
    margin-bottom: 100px;
}
.skills__title {
    margin-bottom: 90px;
}
.skills__item {
    max-width: 434px;
    padding: 40px;
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all 0.3s;
}

.skills__item-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.skills__item-image img {
    max-height: 165px;
}
.skills__item-text {
    font-size: 16px;
    line-height: 24px;
}
.skills__item-button {
    padding: 7px 35px;
    color: white;
    background-color: rgb(1, 97, 240);
    border: 1px solid rgb(1, 97, 240);
    border-radius: 5px;
    transition: all 0.3s;
}

.skills__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

@media (max-width: 1120px) {
    .skills__container {
        flex-direction: column;
    }
    .skills__item {
        max-width: 680px;
    }
}

@media (min-width: 769px) {
    .skills__item-button:hover {
        color: rgb(1, 97, 240);
        background-color: unset;
    }
    .skills__item:hover {
        transform: translateY(-15px);
    }
}

@media (max-width: 425px) {
    .skills {
        margin-bottom: 50px;
    }
    .skills__title {
        margin-bottom: 50px;
    }
}
