.listening {
    text-align: center;
    color: white;
    animation: listening 2s;
}

.listening__list {
    margin-bottom: 50px;
}

.listening__title {
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    background: linear-gradient(106.52deg, #c213ea 0%, #4dddce 93.42%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: 300px;
    margin: 0 auto 40px;
}

.listening__banner {
    margin-bottom: 70px;
}

.listening__tasks {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tasks__item h2 {
    cursor: pointer;
}

.listening__nav-home a {
    color: #737373;
}
.listening__nav {
    text-align: left;
    font-size: 16px;
    display: flex;
    margin-bottom: 70px;
    animation: navigation 1s;
}
.listening__nav-home:first-child {
    padding-left: 22px;
    position: relative;
}
.listening__nav-home:first-child::before {
    content: url(../../assets/images/listening/home-icon.png);
    position: absolute;
    top: 0px;
    left: 0;
}
.listening__nav-next:last-child {
    padding-left: 30px;
    position: relative;
    margin-left: 30px;
}
.listening__nav-next:last-child::after {
    content: url(../../assets/images/listening/next-icon.png);
    position: absolute;
    top: -2px;
    left: 0;
}
.tasks__item-title {
    letter-spacing: 0.1em;
    font-weight: 600;
}
.listening__inner {
    animation: listeningInner 1s;
}

@keyframes listening {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes navigation {
    0% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes listeningInner {
    0% {
        transform: translateY(200%);
    }
    100% {
        transform: translateY(0);
    }
}
