.contact {
    margin-bottom: 100px;
}
.contact__inner {
    display: flex;
    gap: 50px;
    align-items: center;
}
.contact__container {
    max-width: 670px;
}
.contact__title {
    text-align: left;
    margin-bottom: 37px;
}
.contact__text {
    margin-bottom: 50px;
}
.contact__form {
    display: flex;
    gap: 12px;
    align-items: center;
}
.contact__form input {
    padding: 20px 30px 25px;
    outline: unset;
    border: 1px solid #8f95a5;
    border-radius: 10px;
}
.contact__form input::placeholder {
    font-size: 16px;
    line-height: 24px;
}
.contact__form button {
    padding: 22px 60px;
    color: white;
    border-radius: 10px;
    transition: all 0.3s;
}

@media (max-width: 1024px) {
    .contact__inner {
        flex-direction: column;
    }
}

@media (min-width: 769px) {
    .contact__form button:hover {
        box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.555);
    }
}

@media (max-width: 768px) {
    .contact__form {
        flex-direction: column;
    }
    .contact__form input,
    .contact__form button {
        max-width: 425px;
        width: 100%;
    }
}

@media (max-width: 425px) {
    .contact {
        margin-bottom: 50px;
    }
}
