.header {
	padding: 25px 0;
	color: #263238;
	margin-bottom: 50px;
	background: rgb(227, 229, 253);
	box-shadow: 0px 1px 18px rgb(172, 172, 172);
}
.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header__logo {
	font-size: 36px;
}
.header__logo span {
	color: rgb(1, 97, 240);
}
.header__navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 35px;
}
.header__login {
	padding: 5px 20px;
	border: 1px solid rgb(1, 97, 240);
	color: white;
	border-radius: 8px;
	background-color: rgb(1, 97, 240);
	cursor: pointer;
	transition: all .3s;
}
.header__login:hover {
	color: rgb(1, 97, 240);
	background-color: unset;
}
.header__user {
	display: flex;
	align-items: center;
	gap: 6px;
}
.header__user a {
	display: flex;
}
.header__user a svg {
	font-size: 30px;
}