.header {
    padding: 25px 0;
    color: #263238;
    margin-bottom: 50px;
    background: rgb(227, 229, 253);
    box-shadow: 0px 1px 18px rgb(172, 172, 172);
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo,
.header__logo-adaptive {
    font-size: 36px;
}
.header__logo span,
.header__logo-adaptive span {
    color: rgb(1, 97, 240);
}
.header__navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
}
.header__login {
    padding: 5px 20px;
    border: 1px solid rgb(1, 97, 240);
    color: white;
    border-radius: 8px;
    background-color: rgb(1, 97, 240);
    cursor: pointer;
    transition: all 0.3s;
}

.header__user {
    display: flex;
    align-items: center;
    gap: 6px;
}
.header__user a {
    display: flex;
}
.header__user a svg {
    font-size: 30px;
}
.header__adaptive {
    display: none;
}
.header__burger {
    width: 30px;
    position: relative;
}
.header__burger span,
.header__burger::before,
.header__burger::after {
    transform: translate(-50%, -50%);
    width: 100%;
    background-color: black;
    height: 2px;
    position: absolute;
    transition: all 0.3s;
}
.header__burger::before {
    content: "";
    top: -12px;
}
.header__burger::after {
    content: "";
    top: 12px;
}
.header__burger.active span {
    display: none;
}
.header__burger.active::before {
    top: 50%;
    transform: translate(-50%, 0) rotate(45deg);
}
.header__burger.active::after {
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
}
.header__overlay {
    display: none;
}
.header__close {
    display: none;
}

@media (max-width: 880px) {
    .header__navigation {
        gap: 20px;
    }
}

@media (min-width: 769px) {
    .header__login:hover {
        color: rgb(1, 97, 240);
        background-color: unset;
    }
}

@media (max-width: 768px) {
    .header {
        margin-bottom: 0;
    }
    .header__inner {
        flex-direction: column;
        position: fixed;
        height: 100vh;
        top: 0;
        left: -425px;
        background-color: rgb(227, 229, 253);
        justify-content: space-around;
        max-width: 425px;
        width: 100%;
        z-index: 4;
        transition: all 0.4s;
    }
    .header__inner.active {
        left: 0;
    }
    .header__adaptive {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__navigation {
        flex-direction: column;
    }
    .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.219);
        z-index: 2;
    }
    .header__overlay.active {
        display: block;
    }
    .header__close {
        display: block;
        position: absolute;
        top: 28px;
        right: 28px;
        font-size: 40px;
    }
}
